.home-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

app-sidebar {
  flex-shrink: 0;
  width: 200px;
}

.content {
  flex: 1;
  margin-left: 3px;
}

.content.shifted {
  margin-left: 20px;
}
.scroll-wrapper {
  height: 100vh; /* หรือ calc(100vh - headerHeight) ถ้ามี header */
  overflow-y: auto;
  padding: 24px;
  box-sizing: border-box;
}
